#id {
color:black;
text-align:center;
background-color:grey;
border-radius:20px;
}
#class{
color:black;
text-align:center;
background-color:grey;
border-radius:20px;
}

#universal{
color:black;
text-align:center;
background-color:grey;
border-radius:20px;
}

#back{
background-color:pink;
}

h3{
font-family:sans-serif;
color:red;
}

#el{
color:black;
text-align:center;
background-color:grey;
border-radius:20px;
}



